.bottom-nav {
  width: 470px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 2px solid rgb(230, 230, 230);
  background: white;
}
.bn-tab {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.centericon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activetext {
  margin-top: 0px;
  color: #128fc1;
  margin-bottom: 0px;
}

.notactivetext {
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}
.imgsize {
  width: 40px;
  height: 30px;
}

@media screen and (max-width: 780px) {
   
   
  .bottom-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(230, 230, 230);
  }
  
  
 }
