.gameimg{
    width: 220px;
    height: 220px;
    margin: 10px;
}
.gamediv{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gamecen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}



@media screen and (max-width: 780px) {
   
    .gameimg{
        width: 160px;
        height: 150px;
        margin: 5px;
    }
    .gamediv{
          width: 360px;
      
    }
    
    
  }
    