.main{
    display: flex;
    justify-content: center;
   
   
}
.loginimg{

    height: 48px;
    width: 242px;
}

.contentdiv{
    background-color: rgb(245, 245, 245);
    padding: 25px;
    width: 450px;
}
.imgcen{
    justify-content: center;
    display: flex;
}

.facebook{
    display: flex;
    justify-content: center;
    margin-top: 145px;
}

.cengoregister{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cengoregister1{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

 
@media screen and (max-width: 780px) {
   
   
.contentdiv{
    background-color: rgb(245, 245, 245);
    padding: 25px;
    width:310px;
}
  
.contentdiv1{
    background-color: rgb(245, 245, 245);
    padding: 25px;
    width:310px;
}


      }
