.main-game-mine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-scrollbar {
  overflow-y: scroll;
  margin-top: 40px;
  width: 460px;
  height: 700px;
}
.main-game-mine-content {
  margin-top: 30px;
}

.game-screen-div {
  background-color: rgb(240, 240, 240);
  width: 400px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.img-click-start {
  position: absolute;
  width: 100px;
  height: 100;
  margin-left: 37%;
  margin-top: 32%;
}

.img-click-start-hide{
  display: none;
}
.game-div-click {
  background-color: rgb(212 195 195);
  width: 47%;
  height: 47%;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
 
 
}

.anilmation1{
  background-color: rgb(212 195 195);
  width: 47%;
  height: 47%;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  animation-name: anil1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.banner-div {
  background: antiquewhite;
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.banner-div h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  text-align: center;
}

.alllcen-in-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
 
 
@keyframes anil1 {
  0% {
    width: 47%;
    height: 47%;
  }
  50% {
    width: 46%;
    height: 46%;
  }

  100% {
    width: 47%;
    height: 47%;
  }
}
}
@media screen and (max-width: 780px) {
  .game-screen-div {
    width: 100%;
    height: 300px;
  }

  .banner-div {
    width: 100%;
  }
  .game-div-click {
    background-color: rgb(212 195 195);
    width: 43%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
   
  }
  
.anilmation1{
  background-color: rgb(212 195 195);
    width: 43%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
 
}
  @keyframes anil1 {
    0% {
      width: 40%;
      height: 40%;
    }
    50% {
      width: 42%;
      height: 42%;
    }

    100% {
      width: 40%;
      height: 40%;
    }
  }
}
