.table-everyone-order{
    width: 100%;
   
}
.table-everyone-order-heading{
    display: flex;
    justify-content: space-between;
    color: gray;
}

.my-avtor{
    margin-right: 60px;
}

.my-avtor2{
    margin-right: 45px;
}


.my-rupee{
    margin-right: 45px;
}
.table-everyone-order-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-no{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.avatar{
     margin-right: 50px;
}