.container10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: 300px;
  margin: 30px auto 0;
  word-break: break-all;
}

.bloc-tabs10 {
  display: flex;
    width: 450px;
    height: px;
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    border-top: 15px solid #f4eeee;
}
.tabs10 {
  padding: 15px;
  text-align: center;
  width: 150px;
  height: 42px;
  background-color: white;
  cursor: pointer;
  border-top-right-radius: 15px;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgb(0 0 0 / 10%) 1px 0px 5px;
}

.active-tabs::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}

.under-line10 {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.under-line-div10 {
  background-color: blue;
  width: 172px;
  height: 2px;
  position: absolute;
  margin-top: 69px;
  border-radius: 5px;
}

.under-line-div11 {
  display: none;
}
button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
 
}
.content {
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

@media screen and (max-width: 780px) {
  .container {
    margin-left: -15px !important;
  }

  .tabs {
    padding: 1px;
    font-size: 16px;
    font-weight: 800;
  }

  .container10 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; 
    height: 300px;
    margin: 30px auto 0;
    word-break: break-all;
}

.bloc-tabs10 {
  display: flex;
  width: 100%;
  height: px;
  overflow-x: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  border-top: 15px solid #f4eeee;
}
}
